.to-privacy-terms{
    cursor: pointer;
    font-weight: 600;
    color: #0004da;
}

.cb{
    width: 20px;
    height: 20px;
}

.privacy-container{
    display: inline-flex;
}

.modal-header h6{
    font-weight: 600;
}